# Specifics for Ubiquity (Ubuntu installer)
ubiquity languagechooser/language-name select French
ubiquity countrychooser/shortlist select FR
ubiquity time/zone   select  Europe/Paris
ubiquity debian-installer/locale select  fr_FR.UTF-8
ubiquity localechooser/supported-locales multiselect en_US.UTF-8, oc_FR.UTF-8
ubiquity console-setup/ask_detect    boolean false
ubiquity keyboard-configuration/layoutcode   select  fr
console-setup   console-setup/layoutcode    string  fr

ubiquity ubiquity/summary note

ubiquity ubiquity/reboot boolean true

d-i partman/early_command string chmod +x /cdrom/preInstall.sh ; /cdrom/preInstall.sh ;


#### Contents of the preconfiguration file (for squeeze)

### Network configuration
d-i netcfg/enable boolean false

# netcfg will choose an interface that has link if possible. This makes it
# skip displaying a list if there is more than one interface.
d-i netcfg/choose_interface select auto

# Any hostname and domain names assigned from dhcp take precedence over
# values set here. However, setting the values still prevents the questions
# from being shown, even if values come from dhcp.
d-i netcfg/get_hostname string solibuntu
d-i netcfg/get_domain string solibuntu

# Disable that annoying WEP key dialog.
d-i netcfg/wireless_wep string


### Clock and time zone setup
# Controls whether or not the hardware clock is set to UTC.
d-i clock-setup/utc boolean true

# You may set this to any valid setting for $TZ; see the contents of
# /usr/share/zoneinfo/ for valid values.
d-i time/zone string Europe/Paris

# Controls whether to use NTP to set the clock during the install
d-i clock-setup/ntp boolean false

### Partitioning

# Alternatively, you may specify a disk to partition. If the system has only
# one disk the installer will default to using that, but otherwise the device
# name must be given in traditional, non-devfs format (so e.g. /dev/hda or
# /dev/sda, and not e.g. /dev/discs/disc0/disc).
# For example, to use the first SCSI/SATA hard disk:
d-i partman-auto/disk string /dev/sda

# XXX Hack to unmount sda1 from /media before starting installation
d-i preseed/early_command string umount /media

# In addition, you'll need to specify the method to use.
# The presently available methods are:
# - regular: use the usual partition types for your architecture
# - lvm:     use LVM to partition the disk
# - crypto:  use LVM within an encrypted partition
d-i partman-auto/method string regular

# If one of the disks that are going to be automatically partitioned
# contains an old LVM configuration, the user will normally receive a
# warning. This can be preseeded away...
d-i partman-lvm/device_remove_lvm boolean true
# The same applies to pre-existing software RAID array:
d-i partman-md/device_remove_md boolean true
# And the same goes for the confirmation to write the lvm partitions.
d-i partman-lvm/confirm boolean true


# You can choose one of the three predefined partitioning recipes:
# - atomic: all files in one partition
# - home:   separate /home partition
# - multi:  separate /home, /usr, /var, and /tmp partitions
d-i partman-auto/choose_recipe select atomic


# The full recipe format is documented in the file partman-auto-recipe.txt
# included in the 'debian-installer' package or available from D-I source
# repository. This also documents how to specify settings such as file
# system labels, volume group names and which physical devices to include
# in a volume group.

# This makes partman automatically partition without confirmation, provided
# that you told it what to do using one of the methods above.
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true


## Partitioning using RAID

# For additional information see the file partman-auto-raid-recipe.txt
# included in the 'debian-installer' package or available from D-I source
# repository.

# This makes partman automatically partition without confirmation.
d-i partman-md/confirm boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true




### Account setup
# Skip creation of a root account (normal user account will be able to
# use sudo). The default is false; preseed this to true if you want to set
# a root password.
d-i passwd/root-login boolean false


# ----------------------------------------------------------------------------
#						ADMINISTRATEUR SOLIBUNTU
# ----------------------------------------------------------------------------
d-i passwd/user-fullname string Administrateur Solibuntu
d-i passwd/username string administrateur
d-i passwd/user-password password AdminSolibuntu
d-i passwd/user-password-again password AdminSolibuntu
d-i user-setup/allow-password-weak boolean true


# The user account will be added to some standard initial groups. To
# override that, use this.
d-i passwd/user-default-groups string audio cdrom video

# Set to true if you want to encrypt the first user's home directory.
d-i user-setup/encrypt-home boolean false

### Apt setup
# You can choose to install restricted and universe software, or to install
# software from the backports repository.
d-i apt-setup/restricted boolean true
d-i apt-setup/universe boolean true

# Enable extras.ubuntu.com for XFCE
d-i apt-setup/extras    boolean true


### Package selection
# Install the Xubuntu desktop.
tasksel tasksel/first multiselect xubuntu-desktop

# Individual additional packages to install
d-i pkgsel/include string openssh-server
d-i pkgsel/upgrade select none

# Language pack selection
d-i pkgsel/language-packs multiselect fr, oc, en, es


# Policy for applying updates. May be "none" (no automatic updates),
# "unattended-upgrades" (install security updates automatically), or
# "landscape" (manage system with Landscape).
d-i pkgsel/update-policy select unattended-upgrades


# By default, the system's locate database will be updated after the
# installer has finished installing most packages. This may take a while, so
# if you don't want it, you can set this to "false" to turn it off.
d-i pkgsel/updatedb boolean false

### Boot loader installation

# This is fairly safe to set, it makes grub install automatically to the MBR
# if no other operating system is detected on the machine.
d-i grub-installer/only_debian boolean true

# This one makes grub-installer install to the MBR if it also finds some other
# OS, which is less safe as it might not be able to boot that other OS.
d-i grub-installer/with_other_os boolean true

# Alternatively, if you want to install to a location other than the mbr,
# uncomment and edit these lines:
d-i grub-installer/bootdev string default


### Finishing up the installation

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note


### X configuration

# Monitor autodetection is recommended.
xserver-xorg xserver-xorg/autodetect_monitor boolean true

# Uncomment if you have an LCD display.
xserver-xorg xserver-xorg/config/monitor/lcd boolean true

# X has three configuration paths for the monitor. Here's how to preseed
# the "medium" path, which is always available. The "simple" path may not
# be available, and the "advanced" path asks too many questions.
xserver-xorg xserver-xorg/config/monitor/selection-method \
       select medium
xserver-xorg xserver-xorg/config/monitor/mode-list \
       select 1024x768 @ 60 Hz


#### Advanced options
### Running custom commands during the installation

ubiquity ubiquity/success_command string in-target /Solibuntu/install.sh installation